section#welcome {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('/img/background.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  .overlay {
    position: absolute;
    top: 0px;
    background: #00000054;
    width: 100%;
    min-height: 100vh;
  }
  .container {
    padding-top: 200px;
    color: #FFFFFF;
  }
  p {
    font-size: 1em;
  }
}
.navbar {
  width: 100%;
  z-index: 1080;
}
.navbar-fixed {
  position: fixed;
}
.navbar-space {
  height: 100px;
}
